<%- include('partials/head') %>
<h1>GEGEVENS</h1>
<p>De gegevens worden alleen gebruikt om je enquete voortgang op te slaan.</p>
<form action="/vraag1" method="post" id="gegevens">
    <fieldset>
        <label id="naam">Naam<input class="gegevensInput" name="naam" type="text" placeholder="Voor- en achternaam"></label>
        <label>Studentnummer *
            <input class="gegevensInput" id="studentnummerInput" name="studentnummer" type="text" inputmode="numeric" pattern="[0-9]{9,9}" placeholder="bv. 500704248" required aria-describedby="verplicht-beschrijving">
            <span id="studentnummerLabel"></span>
        </label>
        <label id="geboortedatum">Geboortedatum<input type="date" name="geboortedatum" placeholder="dd-mm-jjjj"></label>
    </fieldset>
    <%- include('partials/verplicht') %>
    <nav>
        <ul>
            <input form="gegevens" type="submit" value="Verder">
        </ul>
    </nav>
</form>
<%- include('partials/foot') %>