<%- include('partials/head') %>
<h1>GEGEVENS</h1>
<form action="">
    <p>De gegevens worden alleen gebruikt om je enquete voortgang op te slaan.</p>
    <label>Naam<input type="text"></label>
    <label>Studentnummer<input type="text" inputmode="numeric" pattern="[0-9]{9,9}" placeholder="bv. 500704248"></label>
    <input type="submit">
</form>
<%- include('partials/foot') %>