<%- include('partials/head') %>
<h1>MINOR WEB</h1>
<h2>ENQUETE</h2>

<section id="startpagemain">
    <p>Dit is een enquete over
    de minor web.</p>
    <a href="/gegevens">Begin</a>
</section>

<section id="startpageverder">
    <p>Verder gaan waar je gebleven bent?</p>
    <a href="/verder">Verder</a>
</section>
<%- include('partials/foot') %>