<%- include('partials/head') %>
<h1>STUDENTNUMMER</h1>
<p>Vul je studentnummer in en kijk of je verder kunt met de enquete!</p>
<form method="post">
    <input class="gegevensInput" name="studentnummerCheck" type="text" inputmode="numeric" pattern="[0-9]{9,9}"
        placeholder="bv. 500704248" required>
    <input type="submit" value="Verder">
</form>


<%- include('partials/foot') %>