<%- include('../partials/head') %>
<h1>VRAAG 5</h1>
<form action="/vraag6" method="post" id="vraag5">
    <fieldset>
        <legend>Wat zou er beter kunnen aan de communicatie op Slack?</legend>
    
        <textarea name="" id="" cols="30" rows="10"></textarea>
    
    </fieldset>
    <nav>
        <ul>
            <a href="/vraag4">Terug</a>
            <input form="vraag5" type="submit" value="Verder">
        </ul>
    </nav>
</form>
<%- include('../partials/foot') %>