<%- include('../partials/head') %>
<h1>VRAAG 9</h1>
<form action="/vraag10" method="post" id="vraag9">
    <fieldset>
        <legend>Geef de studentassisten een cijfer:</legend>
    
        <label>
            Cijfer van 1 tot 10
            <input type="range" id="slider" min="1" max="10">
        </label>

    </fieldset>
    <nav>
        <ul>
            <a href="/vraag8">Terug</a>
            <input form="vraag9" type="submit" value="Verder">
        </ul>
    </nav>
    <input type="hidden" name="state" value=9>
    <input type="hidden" name="studentnummer" value=<%= studentnummer %>>
</form>
<%- include('../partials/foot') %>