<%- include('../partials/head') %>
<h1>VRAAG 14</h1>
<form method="post">
    <fieldset>
        <legend>Hoe zou de communicatie omgeving verbeterd kunnen worden?</legend>
    
        <textarea name="" id="" cols="30" rows="10"></textarea>
    
        <input type="submit">
    </fieldset>
</form>
<nav>
    <ul>
        <a href="/vraag13">Terug</a>
        <a href="/vraag15">Verder</a>
    </ul>
</nav>
<%- include('../partials/foot') %>