<%- include('../partials/head') %>
<h1>VRAAG 4</h1>
<form action="/vraag5" method="post" id="vraag4">
    <fieldset>
        <legend>Wat vond je van de communicatie op Slack?</legend>
        
        <input id="vraag1" value="Slecht" type="radio" name="vraag4">
        <label for="vraag1">
            Slecht
        </label>
        <input id="vraag2" value="Liever iets anders" type="radio" name="vraag4">
        <label for="vraag2">
            Liever iets anders
        </label>
        <input id="vraag3" value="Wel handig" type="radio" name="vraag4">
        <label for="vraag3">
            Wel handig
        </label>
        <input id="vraag4" value="Super!" type="radio" name="vraag4">
        <label for="vraag4">
            Super!
        </label>
    </fieldset>
    <nav>
        <ul>
            <a href="/vraag3">Terug</a>
            <input form="vraag4" type="submit" value="Verder">
        </ul>
    </nav>
    <input type="hidden" name="state" value=4>
    <input type="hidden" name="studentnummer" value=<%= studentnummer %>>
</form>
<%- include('../partials/foot') %>