<%- include('../partials/head') %>
<h1>VRAAG 3</h1>
<form action="/vraag4" method="post" id="vraag3">
    <fieldset>
        <legend>Geef de Minor Web een cijfer:</legend>

        <label>
            Cijfer van 1 tot 10
            <input name="Minor cijfer" type="text" inputmode="numeric" pattern="^(?:[1-9]|0[1-9]|10)$">
        </label>

    </fieldset>
    <nav>
        <ul>
            <a href="/vraag2">Terug</a>
            <input form="vraag3" type="submit" value="Verder">
        </ul>
    </nav>
    <input type="hidden" name="state" value=3>
    <input type="hidden" name="studentnummer" value=<%= studentnummer %>>
</form>
<%- include('../partials/foot') %>