<%- include('../partials/head') %>
<h1>VRAAG 10</h1>
<form method="post">
    <fieldset>
        <legend>Wat vond je van de online colleges?</legend>
        <label for="vraag1">Waardeloos</label>
        <input id="vraag1" type="radio" name="vraag1">
        <label for="vraag2">Ging wel..</label>
        <input id="vraag2" type="radio" name="vraag1">
        <label for="vraag3">Enigzins leerzaam</label>
        <input id="vraag3" type="radio" name="vraag1">
        <label for="vraag4">GEWELDIG!</label>
        <input id="vraag4" type="radio" name="vraag1">
        <input type="submit">
    </fieldset>
</form>
<nav>
    <ul>
        <a href="/vraag9">Terug</a>
        <a href="/vraag11">Verder</a>
    </ul>
</nav>
<%- include('../partials/foot') %>