<%- include('../partials/head') %>
<h1>VRAAG 20</h1>
<form action="/klaar" method="post" id="vraag20">
    <fieldset>
        <legend>Wat voor feedback heb je voor de docenten?</legend>
    
        <textarea name="" id="" cols="30" rows="10" required></textarea>
    
        <input type="submit">
    </fieldset>
    <nav>
        <ul>
            <a href="/vraag19">Terug</a>
            <input form="vraag20" type="submit" value="Verder">
        </ul>
    </nav>
    <input type="hidden" name="state" value=20>
    <input type="hidden" name="studentnummer" value=<%= studentnummer %>>
</form>
<section id="progressInfo">
    <label for="voortgang">Vraag 20 van 20</label>
    <progress id="voortgang" max="100" value="100">100%</progress>
</section>
<%- include('../partials/foot') %>