<%- include('../partials/head') %>
<h1>VRAAG 15</h1>
<form action="/vraag16" method="post" id="vraag15">
    <fieldset>
        <legend>Geef de Discord communicatie een cijfer:</legend>
    
        <label>Cijfer van 1 tot 10<input name="Discord cijfer" type="text" inputmode="numeric" pattern="^(?:[1-9]|0[1-9]|10)$" required></label>

    </fieldset>
    <nav>
        <ul>
            <a href="/vraag14">Terug</a>
            <input form="vraag15" type="submit" value="Verder">
        </ul>
    </nav>
    <input type="hidden" name="state" value=15>
    <input type="hidden" name="studentnummer" value=<%= studentnummer %>>
</form>
<section>
    <progress max="100" value="75">75%</progress>
</section>
<%- include('../partials/foot') %>