<%- include('../partials/head') %>
<h1>VRAAG 12</h1>
<form action="">
    <fieldset>
        <legend>Wat vond je van de Minor?</legend>
        <label for="vraag1">Niks aan!</label>
        <input id="vraag1" type="radio" name="vraag1">
        <label for="vraag2">Ging wel..</label>
        <input id="vraag2" type="radio" name="vraag1">
        <label for="vraag3">Leuk!</label>
        <input id="vraag3" type="radio" name="vraag1">
        <label for="vraag4">GEWELDIG!</label>
        <input id="vraag4" type="radio" name="vraag1">
        <input type="submit">
    </fieldset>
</form>
<nav>
    <ul>
        <a href="/vraag11">Terug</a>
        <a href="/vraag13">Verder</a>
    </ul>
</nav>
<%- include('../partials/foot') %>