<%- include('../partials/head') %>
<h1>VRAAG 13</h1>
<form action="/vraag14" method="post" id="vraag13">
    <fieldset>
        <legend>Wat vond je van de Discord server?</legend>

        <label>
            Onzin
            <input id="vraag1" value="Onzin!" type="radio" name="vraag13">
        </label>
        
        <label>
            Wel OK
            <input id="vraag2" value="Wel OK" type="radio" name="vraag13">
        </label>

        <label>
            Handig
            <input id="vraag3" value="Handig" type="radio" name="vraag13">
        </label>

        <label>
            Super handig!
            <input id="vraag4" value="Super handig!" type="radio" name="vraag13">
        </label>
    </fieldset>
    <nav>
        <ul>
            <a href="/vraag12">Terug</a>
            <input form="vraag13" type="submit" value="Verder">
        </ul>
    </nav>
    <input type="hidden" name="state" value=13>
    <input type="hidden" name="studentnummer" value=<%= studentnummer %>>
</form>
<%- include('../partials/foot') %>