<%- include('../partials/head') %>
<h1>VRAAG 2</h1>
<form action="/vraag3" method="post" id="vraag2">
    <fieldset>
        <legend>Feedback voor de minor:</legend>

        <textarea name="Minor feedback" id="" cols="30" rows="10"></textarea>

    </fieldset>
    <nav>
        <ul>
            <a href="/vraag1">Terug</a>
            <input form="vraag2" type="submit" value="Verder">
        </ul>
    </nav>
    <input type="hidden" name="state" value=2>
    <input type="hidden" name="studentnummer" value=<%= studentnummer %>>
</form>
<%- include('../partials/foot') %>