<%- include('../partials/head') %>
<h1>VRAAG 16</h1>
<form action="/vraag17" method="post" id="vraag16">
    <fieldset>
        <legend>Wat vond je van het vak Browser Technologies?</legend>
    
        <textarea name="" id="" cols="30" rows="10" required></textarea>

    </fieldset>
    <nav>
        <ul>
            <a href="/vraag15">Terug</a>
            <input form="vraag16" type="submit" value="Verder">
        </ul>
    </nav>
    <input type="hidden" name="state" value=16>
    <input type="hidden" name="studentnummer" value=<%= studentnummer %>>
</form>
<section id="progressInfo">
    <label for="voortgang">Vraag 16 van 20</label>
    <progress id="voortgang" max="100" value="80">80%</progress>
</section>
<%- include('../partials/foot') %>