<%- include('../partials/head') %>
<h1>VRAAG 18</h1>
<form method="post">
    <fieldset>
        <legend>Wat vond je van het vak Progressive Web App?</legend>
    
        <textarea name="" id="" cols="30" rows="10"></textarea>
    
        <input type="submit">
    </fieldset>
</form>
<nav>
    <ul>
        <a href="/vraag17">Terug</a>
        <a href="/vraag19">Verder</a>
    </ul>
</nav>
<%- include('../partials/foot') %>