<%- include('../partials/head') %>
<h1>VRAAG 7</h1>
<form method="post">
    <fieldset>
        <legend>Hoevaak ben je geholpen door een studentassistent?</legend>
        <label for="vraag1">Nooit</label>
        <input id="vraag1" type="radio" name="vraag1">
        <label for="vraag2">Een enkele keer</label>
        <input id="vraag2" type="radio" name="vraag1">
        <label for="vraag3">Een paar keer</label>
        <input id="vraag3" type="radio" name="vraag1">
        <label for="vraag4">Vaak</label>
        <input id="vraag4" type="radio" name="vraag1">
        <input type="submit">
    </fieldset>
</form>
<nav>
    <ul>
        <a href="/vraag6">Terug</a>
        <a href="/vraag8">Verder</a>
    </ul>
</nav>
<%- include('../partials/foot') %>