<%- include('../partials/head') %>
<h1>VRAAG 3</h1>
<form action="/vraag4" method="post" id="vraag3">
    <fieldset>
        <legend>Geef de Minor Web een cijfer:</legend>

        <label for="slider">
            Cijfer van 1 tot 10
            <input type="range" id="slider" min="1" max="10" name="Minor cijfer">
        </label>

    </fieldset>
    <nav>
        <ul>
            <a href="/vraag2">Terug</a>
            <input form="vraag3" type="submit" value="Verder">
        </ul>
    </nav>
</form>
<%- include('../partials/foot') %>