<%- include('../partials/head') %>
<h1>VRAAG 1</h1>
<form action="/vraag2" method="post" id="vraag1">
    <fieldset>
        <legend>Wat vond je van de Minor?</legend>

        <input id="vraagx" value="Niks aan!" type="radio" name="vraag1" required>
        <label for="vraagx" class="radioButton">Niks aan!</label>

        <input id="vraag2" value="Ging wel.." type="radio" name="vraag1">
        <label for="vraag2" class="radioButton">Ging wel..</label>

        <input id="vraag3" value="Leuk!" type="radio" name="vraag1">
        <label for="vraag3" class="radioButton">Leuk!</label>

        <input id="vraag4" value="GEWELDIG!" type="radio" name="vraag1">
        <label for="vraag4" class="radioButton">GEWELDIG!</label>
    </fieldset>
    <nav>
        <ul>
            <a href="/gegevens">Terug</a>
            <input form="vraag1" type="submit" value="Verder">
        </ul>
    </nav>
    <input type="hidden" name="state" value=1>
    <input type="hidden" name="studentnummer" value=<%= studentnummer %>>
</form>
<section id="progressInfo">
    <label for="voortgang">Vraag 1 van 20</label>
    <progress id="voortgang" max="100" value="5">5%</progress>
</section>
<%- include('../partials/foot') %>