<%- include('../partials/head') %>
<h1>VRAAG 2</h1>
<form method="post">
    <fieldset>
        <legend>Feedback voor de minor:</legend>

        <textarea name="" id="" cols="30" rows="10"></textarea>

        <input type="submit">
    </fieldset>
</form>
<nav>
    <ul>
        <a href="/vraag1">Terug</a>
        <a href="/vraag3">Verder</a>
    </ul>
</nav>
<%- include('../partials/foot') %>