<%- include('../partials/head') %>
<h1>VRAAG 20</h1>
<form method="post">
    <fieldset>
        <legend>Wat voor feedback heb je voor de docenten?</legend>
    
        <textarea name="" id="" cols="30" rows="10"></textarea>
    
        <input type="submit">
    </fieldset>
</form>
<nav>
    <ul>
        <a href="/vraag19">Terug</a>
        <a href="/klaar">Klaar</a>
    </ul>
</nav>
<%- include('../partials/foot') %>