<%- include('../partials/head') %>
<h1>VRAAG 14</h1>
<form action="/vraag15" method="post" id="vraag14">
    <fieldset>
        <legend>Hoe zou de communicatie omgeving verbeterd kunnen worden?</legend>
    
        <textarea name="" id="" cols="30" rows="10" required></textarea>

    </fieldset>
    <nav>
        <ul>
            <a href="/vraag13">Terug</a>
            <input form="vraag14" type="submit" value="Verder">
        </ul>
    </nav>
    <input type="hidden" name="state" value=14>
    <input type="hidden" name="studentnummer" value=<%= studentnummer %>>
</form>
<section id="progressInfo">
    <label for="voortgang">Vraag 14 van 20</label>
    <progress id="voortgang" max="100" value="70">70%</progress>
</section>
<%- include('../partials/foot') %>