<%- include('../partials/head') %>
<h1>VRAAG 18</h1>
<form action="/vraag19" method="post" id="vraag18">
    <fieldset>
        <legend>Wat vond je van het vak Progressive Web App?</legend>
    
        <textarea name="" id="" cols="30" rows="10"></textarea>

    </fieldset>
    <nav>
        <ul>
            <a href="/vraag17">Terug</a>
            <input form="vraag18" type="submit" value="Verder">
        </ul>
    </nav>
</form>
<%- include('../partials/foot') %>