<%- include('../partials/head') %>
<h1>VRAAG 18</h1>
<form action="/vraag19" method="post" id="vraag18">
    <fieldset>
        <legend>Wat vond je van het vak Progressive Web App?</legend>
    
        <textarea name="" id="" cols="30" rows="10" required></textarea>

    </fieldset>
    <nav>
        <ul>
            <a href="/vraag17">Terug</a>
            <input form="vraag18" type="submit" value="Verder">
        </ul>
    </nav>
    <input type="hidden" name="state" value=18>
    <input type="hidden" name="studentnummer" value=<%= studentnummer %>>
</form>
<section>
    <progress max="100" value="90">90%</progress>
</section>
<%- include('../partials/foot') %>