<%- include('../partials/head') %>
<h1>VRAAG 7</h1>
<form action="/vraag8" method="post" id="vraag7">
    <fieldset>
        <legend>Hoevaak ben je geholpen door een studentassistent?</legend>

        <input id="vraag1" value="Nooit" type="radio" name="vraag7" required>
        <label for="vraag1">Nooit</label>

        <input id="vraag2" value="Een enkele keer" type="radio" name="vraag7">
        <label for="vraag2">Een enkele keer</label>

        <input id="vraag3" value="Een paar keer" type="radio" name="vraag7">
        <label for="vraag3">Een paar keer</label>

        <input id="vraag4" value="Vaak" type="radio" name="vraag7">
        <label for="vraag4">Vaak</label>

    </fieldset>
    <nav>
        <ul>
            <a href="/vraag6">Terug</a>
            <input form="vraag7" type="submit" value="Verder">
        </ul>
    </nav>
    <input type="hidden" name="state" value=7>
    <input type="hidden" name="studentnummer" value=<%= studentnummer %>>
</form>
<%- include('../partials/foot') %>