<%- include('../partials/head') %>
<h1>VRAAG 14</h1>
<form action="/vraag15" method="post" id="vraag14">
    <fieldset>
        <legend>Hoe zou de communicatie omgeving verbeterd kunnen worden?</legend>
    
        <textarea name="" id="" cols="30" rows="10"></textarea>

    </fieldset>
    <nav>
        <ul>
            <a href="/vraag13">Terug</a>
            <input form="vraag14" type="submit" value="Verder">
        </ul>
    </nav>
</form>
<%- include('../partials/foot') %>