<%- include('../partials/head') %>
<h1>VRAAG 13</h1>
<form method="post">
    <fieldset>
        <legend>Wat vond je van de Discord server?</legend>
        <label for="vraag1">Onzin</label>
        <input id="vraag1" type="radio" name="vraag1">
        <label for="vraag2">Wel OK</label>
        <input id="vraag2" type="radio" name="vraag1">
        <label for="vraag3">Handig</label>
        <input id="vraag3" type="radio" name="vraag1">
        <label for="vraag4">Super handig!</label>
        <input id="vraag4" type="radio" name="vraag1">
        <input type="submit">
    </fieldset>
</form>
<nav>
    <ul>
        <a href="/vraag12">Terug</a>
        <a href="/vraag14">Verder</a>
    </ul>
</nav>
<%- include('../partials/foot') %>