<%- include('../partials/head') %>
<h1>VRAAG 17</h1>
<form action="/vraag18" method="post" id="vraag17">
    <fieldset>
        <legend>Geef Browser Technologies een cijfer:</legend>
    
        <label>Cijfer van 1 tot 10<input name="BT cijfer" type="text" inputmode="numeric" pattern="^(?:[1-9]|0[1-9]|10)$" required></label>
    
    </fieldset>
    <nav>
        <ul>
            <a href="/vraag16">Terug</a>
            <input form="vraag17" type="submit" value="Verder">
        </ul>
    </nav>
    <input type="hidden" name="state" value=17>
    <input type="hidden" name="studentnummer" value=<%= studentnummer %>>
</form>
<%- include('../partials/foot') %>