<%- include('../partials/head') %>
<h1>VRAAG 17</h1>
<form method="post">
    <fieldset>
        <legend>Geef Browser Technologies een cijfer:</legend>
    
        <label for="slider">Cijfer van 1 tot 10</label>
        <input type="range" id="slider" min="1" max="10">
    
        <input type="submit">
    </fieldset>
</form>
<nav>
    <ul>
        <a href="/vraag16">Terug</a>
        <a href="/vraag18">Verder</a>
    </ul>
</nav>
<%- include('../partials/foot') %>