<%- include('../partials/head') %>
<h1>VRAAG 11</h1>
<form method="post">
    <fieldset>
        <legend>Hoe zouden de online colleges verbeterd kunnen worden?</legend>
    
        <textarea name="" id="" cols="30" rows="10"></textarea>
    
        <input type="submit">
    </fieldset>
</form>
<nav>
    <ul>
        <a href="/vraag10">Terug</a>
        <a href="/vraag12">Verder</a>
    </ul>
</nav>
<%- include('../partials/foot') %>