<%- include('../partials/head') %>
<h1>VRAAG 8</h1>
<form action="/vraag9" method="post" id="vraag8">
    <fieldset>
        <legend>Hoe zouden de studentassistenten beter ingezet kunnen worden?</legend>
    
        <textarea name="" id="" cols="30" rows="10" required></textarea>

    </fieldset>
    <nav>
        <ul>
            <a href="/vraag7">Terug</a>
            <input form="vraag8" type="submit" value="Verder">
        </ul>
    </nav>
    <input type="hidden" name="state" value=8>
    <input type="hidden" name="studentnummer" value=<%= studentnummer %>>
</form>
<section id="progressInfo">
    <label for="voortgang">Vraag 8 van 20</label>
    <progress id="voortgang" max="100" value="40">40%</progress>
</section>
<%- include('../partials/foot') %>